temperatur-lora/.vscode/c_cpp_properties.json
temperatur-lora/.vscode/launch.json
env.h
node_modules
stadtpuls-sensors.code-workspace
temperature-http/.vscode/c_cpp_properties.json
temperature-http/.vscode/launch.json
hello-world/hello-wfi-lora-32-v2/.vscode/c_cpp_properties.json
hello-world/hello-wfi-lora-32-v2/.vscode/launch.json
